h3 {
  margin: 40px 0 15px;
}

img {
  display: inline-block;
  margin-bottom: 37px;;
}

a {
  background-color: #744b19;
  color: #f0d7b6;
  border-color: #492b07;
  margin: 0 5px 10px;
}

a:disabled, a:disabled:hover {
  background-color: #bfa481;
  color: #9a8567;
  border-color: #9a8567;
}

a:focus {
  background-color: #744b19;
  color: #f0d7b6;
  border-color: #492b07;
}

a:hover {
  background-color: #744b19;
  color: #fff;
  border-color: #492b07;
}

a:active:focus, a:active {
  background-color: #2b1801;
  color: #fff;
  border-color: #492b07;
  outline-style: none;
}
